<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-graph.min.js"></script>
    <script src="//www.amcharts.com/lib/4/core.js"></script>
  <script src="//www.amcharts.com/lib/4/charts.js"></script>
  <script src="//www.amcharts.com/lib/4/plugins/forceDirected.js"></script> 

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="con">
        <div class="row">
          <div class="col-lg-4">

              <button type="button" class="btn btn-danger" id="back">BACK</button>
              <button type="button" class="btn btn-success" id="get_calls">Extract Python Graphs</button>
              
              <!-- Example single danger button -->
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tag
                </button>
                <div class="dropdown-menu" id="drop">
                  
                </div>
                
              </div>
              <h3><span id="first_tag" class="badge badge-secondary">Select a Tag</span></h3>
            <div id="menu">
                

            </div>
          </div>
          <div class="col-lg-8">
            <div id="container">
              

              
            </div>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-lg-4">

              <button type="button" class="btn btn-danger" id="back2">BACK</button>
              <button type="button" class="btn btn-success" id="get_calls2">Extract Python Graphs</button>
              
              <!-- Example single danger button -->
              <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tag
                </button>
                <div class="dropdown-menu" id="drop2">
                  
                </div>
              </div>
              <h3><span id="second_tag" class="badge badge-secondary">Select Another Tag to Compare</span></h3>
            <div id="menu2">
                

            </div>
          </div>
          <div class="col-lg-8">
            <div id="container2">
              

              
            </div>
          </div>
        </div>


      </div>

    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>




  <style>

    html, 
    body {
        padding: 20px;
        height: 100%;
    }


  
    .row{
      height: fit-content;
    }

    .con{
        width: 100%;
        height: fit-content;
        
    }


    #container{
        
        height: 500px;
        border: 1px solid pink;
        
    }



    #menu{
      padding: 20px;
      
        
    }

    #container2{
        
        height: 500px;
        border: 1px solid pink;
        
    }



    #menu2{
      padding: 20px;
      
    }

    .btn-info{
      padding: 0px;
      width: 100%;
    }
</style>

<script>



var ulti_dict = JSON.parse({{ ulti_dict|tojson }})

// ulti_dict = JSON.aprse(ulti_dict);

var ulti_tree = {{ ulti_tree|tojson }}

var tags = {{ tags|safe }}


// THE Start of First View

var keys = [];

let cur_sup_files = [];

let stack = [];


// If none selected use 0 as normal
prev_tag = 0;


var tree = ulti_tree['body'][i+1];
var calls = ulti_dict[i+1];


// Adding the dropdown

//  Creating tags
for(var i=0; i<tags.length; i++){
  var dd = document.createElement('a');
  // dd.setAttribute('class', 'dropdown-item');
  // dd.setAttribute('id', i);
  // dd.setAttribute('value', "tags[i]");
  // dd.setAttribute('href', '#');

  dd.innerHTML = "<a class=\"dropdown-item\" id="+i+" href=\"#\" onclick='SetTag("+i+")'>"+ tags[i] +"</a>"

  var menu = document.getElementById('drop');
  menu.appendChild(dd);
  
}

// Setting the tag
function SetTag(i){

  
  document.getElementById('first_tag').innerHTML = tags[i];
  prev_tag = i;
  
  tree = ulti_tree['body'][i+1];
  calls = ulti_dict[i+1];

  keys = [];

  cur_sup_files = [];
  stack = [];

  for (var k in tree){
    keys.push(k);
  }

  let curr = keys[0];
  root = keys[0];

  stack.push(keys[0]);

  level(keys[0],"container" , "no");


}
SetTag(0);
// Get calls function
document.getElementById("get_calls").onclick = function() {
    
  var new_data = {'nodes': [], 'edges':[]}

    cur_sup_files.forEach((file) => {
      console.log(file);
      new_temp = calls[file];
      console.log("testing");
      console.log(new_temp);
      // File
      group = file;

      
      // console.log(new_temp);
      // for( var i = 0; i < new_temp.length ; i++){
      //   console.log(new_temp[i]);
      // }

      for (var key in new_temp) {
        if (new_temp.hasOwnProperty(key)){
          temp_new_dat = Object.values(new_temp[key]);
          console.log(temp_new_dat);
          
          for(var i in temp_new_dat){
            from = key;
            to = temp_new_dat[i][0];
            type_ = temp_new_dat[i][1];
            console.log(from + " : " + to);



            temp_node_dir = {id: from, normal: {
                height: 8,
                fill: '#F0F278',
            }, hovered: {
              height: 10,
                fill: '#B3F278'
            }, selected: {
              height: 12,
                fill: '#78F27A'
            }, shape: "square"}

            new_data['nodes'].push(temp_node_dir);


            
            if(type_ == "funcDef"){

                  temp_node_dir2 = {id: to, normal: {
                          height: 8,
                          fill: '#2C3E50',
                      }, hovered: {
                        height: 10,
                          fill: '#2C3E50'
                      }, selected: {
                        height: 12,
                          fill: '#2C3E50'
                      }, shape: "square"}

                      new_data['nodes'].push(temp_node_dir2);
                  }

                  if(type_ == "ClassDef"){

                      temp_node_dir2 = {id: to, normal: {
                              height: 8,
                              fill: '#633974',
                          }, hovered: {
                            height: 10,
                              fill: '#633974'
                          }, selected: {
                            height: 12,
                              fill: '#633974'
                          }, shape: "circle"}

                          new_data['nodes'].push(temp_node_dir2);
                      }

                  if(type_ == "func"){

                  temp_node_dir2 = {id: to, normal: {
                          height: 6,
                          fill: '#76D7C4',
                      }, hovered: {
                        height: 8,
                          fill: '#76D7C4'
                      }, selected: {
                        height: 10,
                          fill: '#76D7C4'
                      }, shape: "square"}

                      new_data['nodes'].push(temp_node_dir2);
                  }

                  if(type_ == "module"){

                    temp_node_dir2 = {id: to, normal: {
                            height: 3,
                            fill: '#2980B9',
                        }, hovered: {
                          height: 4,
                            fill: '#2980B9'
                        }, selected: {
                          height: 5,
                            fill: '#2980B9'
                        }, shape: "square"}

                        new_data['nodes'].push(temp_node_dir2);
                    }


                    if(type_ == "file"){

                      temp_node_dir2 = {id: to, normal: {
                              height: 3,
                              fill: '#7B7D7D',
                          }, hovered: {
                            height: 4,
                              fill: '#7B7D7D'
                          }, selected: {
                            height: 5,
                              fill: '#7B7D7D'
                          }, shape: "square"}

                          new_data['nodes'].push(temp_node_dir2);
                      }




            temp_edge_dir = {'from': from, 'to':to}
            new_data['edges'].push(temp_edge_dir);
            




          }
        }
      }


    });

    console.log("testing2")
    console.log(new_data);

    const myNode2 = document.getElementById("container");
    myNode2.innerHTML = '';


    var chart = anychart.graph(new_data);
  // set the container id
    chart.container("container");
    chart.layout().iterationCount(2000);
    // chart.nodes().labels().enabled(true);
    // chart.nodes().labels().fontSize(10);
    // chart.nodes().labels().fontWeight(300);
    // initiate drawing the chart
    chart.draw();
    chart.title("Call graphs in : " + curr);


}

// Back functiom
document.getElementById("back").onclick = function() {
    
            prev_lev = stack.pop();

            if(prev_lev != root){
                level(stack.pop(), "container");
            }else{
              stack.push(prev_lev);
            }
            // if (prev_lev!=undefined){
            //   level(prev_lev);
            //   curr = prev_lev;
            // }   
    }

// Adding the directory to view
function add_directory_to_view(dir_name){
        var element = document.createElement("input");
        element.type = "button";
        element.setAttribute("class", "btn btn-info");
        // element.setAttribute("id", dir_name);
        element.setAttribute("value", dir_name);
        element.onclick = function () { level(dir_name, "container"); };
        
        var foo = document.getElementById("menu");
        foo.appendChild(element);
        var element = document.createElement("br");
        foo.appendChild(element);
        foo.appendChild(element);
    }

function clear_data(){
  const myNode = document.getElementById("menu");
  myNode.innerHTML = '';

  const myNode2 = document.getElementById("container");
  myNode2.innerHTML = '';
}

function level(lev, cont, yes_no){

  cur_sup_files = [];


  clear_data();

    console.log(lev);
    var new_data = {'nodes': [], 'edges':[]}
    
    temp = tree[lev];


    temp_node_dir = {id: lev, normal: {
                fill: '#F7DC6F',
                height: 30
            }, hovered: {
                fill: '#F7DC6F',
                height: 40
            }, selected: {
                fill: '#F7DC6F',
                height: 50
            }}

            new_data['nodes'].push(temp_node_dir);
            add_directory_to_view(lev);


    // for(var k in temp){
    
    
  // }
  
  for(var k in temp){

    if (temp[k]['type'] == 'dir'){

        temp_node_dir = {id: temp[k]['value'], normal: {
              height: 20,
              fill: '#85C1E9',
          }, hovered: {
            height: 30,
              fill: '#85C1E9'
          }, selected: {
            height: 40,
              fill: '#85C1E9'
          }}

          new_data['nodes'].push(temp_node_dir);
          add_directory_to_view(temp[k]['value']);

          console.log('Directory');
          temp_edge_dir3 = {'from': lev, 'to':temp[k]['value']}
          new_data['edges'].push(temp_edge_dir3);   

      }else if (temp[k]['type'] == 'file'){

        var res = temp[k]['value'].split(".");

        var king = res[res.length-1];

        if (king=='py'){

          cur_sup_files.push(temp[k]['value']);
          
          temp_node_dir4 = {id: temp[k]['value'], normal: {
                            fill: '#3498DB',
                            height: 20
                        }, hovered: {
                            fill: '#3498DB',
                            height: 30
                        }, selected: {
                            fill: '#3498DB',
                            height: 40
                        }, shape: "diamond"}

            new_data['nodes'].push(temp_node_dir4);

            console.log('File');
            temp_edge_dir2 = {'from': lev, 'to':temp[k]['value']}
            new_data['edges'].push(temp_edge_dir2);
        }else{

          // cur_sup_files.push(temp[k]['value']);
          
          temp_node_dir4 = {id: temp[k]['value'], normal: {
                            fill: '#1B4F72',
                            height: 10
                        }, hovered: {
                            fill: '#1B4F72',
                            height: 15
                        }, selected: {
                            fill: '#1B4F72',
                            height: 20
                        }, shape: "square"}

            new_data['nodes'].push(temp_node_dir4);

            console.log('File');
            temp_edge_dir2 = {'from': lev, 'to':temp[k]['value']}
            new_data['edges'].push(temp_edge_dir2);

        }
                    
            
        }

  }

  // return new_data;

    var chart = anychart.graph(new_data);
  // set the container id
    chart.container(cont);
    chart.layout().iterationCount(1000);
    // chart.nodes().labels().enabled(true);
    // chart.nodes().labels().fontSize(10);
    // chart.nodes().labels().fontWeight(300);
    // initiate drawing the chart
    chart.draw();
    chart.title("root : " + lev);



    if(yes_no != "no"){
      if (curr != lev){
        stack.push(lev);
      }
      
    }

    curr = lev;

    console.log(stack);

}


// THE END of First View




// THE Start of Second View

let tree2;
let calls2;

var keys2 = [];

let cur_sup_files2 = [];

let stack2 = [];

// Adding the dropdown

//  Creating tags
for(var i=0; i<tags.length; i++){
  var dd = document.createElement('a');
  // dd.setAttribute('class', 'dropdown-item');
  // dd.setAttribute('id', i);
  // dd.setAttribute('value', "tags[i]");
  // dd.setAttribute('href', '#');

  dd.innerHTML = "<a class=\"dropdown-item\" id= \"_"+i.toString(10)+"\" href=\"#\" onclick='SetTag2(2_"+i+")'>"+ tags[i] +"</a>"

  var menu = document.getElementById('drop2');
  menu.appendChild(dd);
  
}

// Setting the tag
function SetTag2(i){

  // var new_i = i.substring(1,2);
  // i = toString(i);
  i = i.toString();
  i = i.substr(1);

  i = parseInt(i, 10);

  document.getElementById('second_tag').innerHTML = tags[i];

  console.log(i)

  tree2 = ulti_tree['body'][i+1];
  calls2 = ulti_dict[i+1];

  keys2 = [];

  cur_sup_files2 = [];
  stack2 = [];

  for (var k in tree2){
    keys2.push(k);
  }

  let curr2 = keys2[0];
  root2 = keys2[0];

  stack2.push(keys2[0]);

  level2(keys2[0],"container2" , "no");

}

// Get calls function
document.getElementById("get_calls2").onclick = function() {
    
  var new_data2 = {'nodes': [], 'edges':[]}


    cur_sup_files2.forEach((file) => {
      console.log(file);
      new_temp = calls2[file];
      console.log("testing");
      console.log(new_temp);
      // File
      group = file;


      for (var key in new_temp) {
        if (new_temp.hasOwnProperty(key)){
          temp_new_dat = Object.values(new_temp[key]);
          console.log(temp_new_dat);

          for(var i in temp_new_dat){
            from = key;
            to = temp_new_dat[i][0];

            type_ = temp_new_dat[i][1];
            // alert(type_);
            console.log(from + " : " + to);


            
            temp_node_dir = {id: from, normal: {
                height: 6,
                fill: '#F4D03F',
            }, hovered: {
              height: 8,
                fill: '#F4D03F'
            }, selected: {
              height: 10,
                fill: '#F4D03F'
            }, shape: "square"}

            new_data2['nodes'].push(temp_node_dir);


            

            if(type_ == "funcDef"){

              temp_node_dir2 = {id: to, normal: {
                      height: 8,
                      fill: '#2C3E50',
                  }, hovered: {
                    height: 10,
                      fill: '#2C3E50'
                  }, selected: {
                    height: 12,
                      fill: '#2C3E50'
                  }, shape: "square"}

                  new_data2['nodes'].push(temp_node_dir2);
              }

              if(type_ == "ClassDef"){

                  temp_node_dir2 = {id: to, normal: {
                          height: 8,
                          fill: '#633974',
                      }, hovered: {
                        height: 10,
                          fill: '#633974'
                      }, selected: {
                        height: 12,
                          fill: '#633974'
                      }, shape: "circle"}

                      new_data2['nodes'].push(temp_node_dir2);
                  }

              if(type_ == "func"){

              temp_node_dir2 = {id: to, normal: {
                      height: 6,
                      fill: '#76D7C4',
                  }, hovered: {
                    height: 8,
                      fill: '#76D7C4'
                  }, selected: {
                    height: 10,
                      fill: '#76D7C4'
                  }, shape: "square"}

                  new_data2['nodes'].push(temp_node_dir2);
              }

              if(type_ == "module"){

                temp_node_dir2 = {id: to, normal: {
                        height: 3,
                        fill: '#2980B9',
                    }, hovered: {
                      height: 4,
                        fill: '#2980B9'
                    }, selected: {
                      height: 5,
                        fill: '#2980B9'
                    }, shape: "square"}

                    new_data2['nodes'].push(temp_node_dir2);
                }

                if(type_ == "file"){

                  temp_node_dir2 = {id: to, normal: {
                          height: 3,
                          fill: '#7B7D7D',
                      }, hovered: {
                        height: 4,
                          fill: '#7B7D7D'
                      }, selected: {
                        height: 5,
                          fill: '#7B7D7D'
                      }, shape: "square"}

                      new_data2['nodes'].push(temp_node_dir2);
                  }






            temp_edge_dir = {'from': from, 'to':to}
            new_data2['edges'].push(temp_edge_dir);

          }
        }
      }

    });

    console.log("testing2")
    console.log(new_data2);

    const myNode2 = document.getElementById("container2");
    myNode2.innerHTML = '';


    var chart = anychart.graph(new_data2);
  // set the container id
    chart.container("container2");
    chart.layout().iterationCount(2000);
    // chart.nodes().labels().enabled(true);
    // chart.nodes().labels().fontSize(10);
    // chart.nodes().labels().fontWeight(300);
    // initiate drawing the chart
    chart.draw();
    chart.title("Call graphs in 2_: " + curr2);


}

// Back functiom
document.getElementById("back2").onclick = function() {
    
            prev_lev = stack2.pop();

            if(prev_lev != root2){
                level2(stack2.pop(), "container2");
            }else{
              stack2.push(prev_lev);
            }
            // if (prev_lev!=undefined){
            //   level(prev_lev);
            //   curr = prev_lev;
            // }   
    }

// Adding the directory to view
function add_directory_to_view2(dir_name){
        var element = document.createElement("input");
        element.type = "button";
        element.setAttribute("class", "btn btn-info");
        // element.setAttribute("id", dir_name);
        element.setAttribute("value", dir_name);
        element.onclick = function () { level2(dir_name, "container2"); };
        
        var foo = document.getElementById("menu2");
        foo.appendChild(element);
        var element = document.createElement("br");
        foo.appendChild(element);
        foo.appendChild(element);
    }

function clear_data2(){
  const myNode = document.getElementById("menu2");
  myNode.innerHTML = '';

  const myNode2 = document.getElementById("container2");
  myNode2.innerHTML = '';
}

function level2(lev, cont, yes_no){

  cur_sup_files2 = [];


  clear_data2();

    console.log(lev);
    var new_data2 = {'nodes': [], 'edges':[]}
    
    temp = tree2[lev];
    temp2 = tree[lev];

    console.log(temp2);
    console.log(temp);


    temp_node_dir = {id: lev, normal: {
                fill: '#F7DC6F',
                height: 30
            }, hovered: {
                fill: '#F1C40F',
                height: 40
            }, selected: {
                fill: '#D4AC0D',
                height: 40
            }}

            new_data2['nodes'].push(temp_node_dir);
            add_directory_to_view2(lev);


    // for(var k in temp){
    
    
  // }

  let runn = 1;

  for(var kk in temp2){
    for(var k in temp){
      if (temp[k]['value'] == temp2[kk]['value']){
          runn = 0;
          break;
      }
    }

    if (runn==0){
      runn = 1;
      continue;
    }
    if (temp2[kk]['type'] == 'dir'){

    temp_node_dir = {id: temp2[kk]['value'], normal: {
          height: 20,
          fill: '#DC143C',
      }, hovered: {
        height: 30,
          fill: '#800000'
      }, selected: {
        height: 40,
          fill: '#800000'
      }}

        new_data2['nodes'].push(temp_node_dir);
        // add_directory_to_view2(temp2[kk]['value']);

        console.log('Directory');
        temp_edge_dir3 = {'from': lev, 'to':temp2[kk]['value']}
        new_data2['edges'].push(temp_edge_dir3);   

      }else if (temp2[kk]['type'] == 'file'){

      var res = temp2[kk]['value'].split(".");

      var king = res[res.length-1];

          if (king=='py'){

            cur_sup_files2.push(temp2[kk]['value']);
            
            temp_node_dir4 = {id: temp2[kk]['value'], normal: {
                              fill: '#DC143C',
                              height: 20
                          }, hovered: {
                              fill: '#800000',
                              height: 30
                          }, selected: {
                              fill: '#800000',
                              height: 40
                          }, shape: "diamond"}

              new_data2['nodes'].push(temp_node_dir4);

              console.log('File');
              temp_edge_dir2 = {'from': lev, 'to':temp2[kk]['value']}
              new_data2['edges'].push(temp_edge_dir2);
          }else{
            temp_node_dir4 = {id: temp2[kk]['value'], normal: {
              fill: '#DC143C',
                            height: 10
                        }, hovered: {
                            fill: '#800000',
                            height: 15
                        }, selected: {
                            fill: '#800000',
                            height: 20
                        }, shape: "square"} 

              new_data2['nodes'].push(temp_node_dir4);

              console.log('File');
              temp_edge_dir2 = {'from': lev, 'to':temp2[kk]['value']}
              new_data2['edges'].push(temp_edge_dir2);
          }
              
          
      
    }
  }



  var run = 1;
  for(var k in temp){
    for(var kk in temp2){
      if (temp[k]['value'] == temp2[kk]['value']){
        if (temp[k]['type'] == 'dir'){
          
        temp_node_dir = {id: temp[k]['value'], normal: {
              height: 20,
              fill: '#85C1E9',
          }, hovered: {
            height: 30,
              fill: '#85C1E9'
          }, selected: {
            height: 40,
              fill: '#85C1E9'
          }}

          new_data2['nodes'].push(temp_node_dir);
          add_directory_to_view2(temp[k]['value']);

          console.log('Directory');
          temp_edge_dir3 = {'from': lev, 'to':temp[k]['value']}
          new_data2['edges'].push(temp_edge_dir3);   

        }else if (temp[k]['type'] == 'file'){

        var res = temp[k]['value'].split(".");

        var king = res[res.length-1];

            if (king=='py'){

              cur_sup_files2.push(temp[k]['value']);
              
              temp_node_dir4 = {id: temp[k]['value'], normal: {
                                fill: '#3498DB',
                                height: 20
                            }, hovered: {
                                fill: '#3498DB',
                                height: 30
                            }, selected: {
                                fill: '#3498DB',
                                height: 40
                            }, shape: "diamond"}

                new_data2['nodes'].push(temp_node_dir4);

                console.log('File');
                temp_edge_dir2 = {'from': lev, 'to':temp[k]['value']}
                new_data2['edges'].push(temp_edge_dir2);
            }else{
              temp_node_dir4 = {id: temp[k]['value'], normal: {
                fill: '#1B4F72',
                            height: 10
                        }, hovered: {
                            fill: '#1B4F72',
                            height: 15
                        }, selected: {
                            fill: '#1B4F72',
                            height: 20
                        }, shape: "square"} 

                new_data2['nodes'].push(temp_node_dir4);

                console.log('File');
                temp_edge_dir2 = {'from': lev, 'to':temp[k]['value']}
                new_data2['edges'].push(temp_edge_dir2);
            }
            
                    
            
        }
        run = 0;
        break;
        
      }
    }

    if (run == 0){
      run = 1;
      continue;
    }


if (temp[k]['type'] == 'dir'){

        temp_node_dir = {id: temp[k]['value'], normal: {
              height: 20,
              fill: '#2ECC71',
          }, hovered: {
            height: 30,
              fill: '#2ECC71'
          }, selected: {
            height: 40,
              fill: '#2ECC71'
          }}

          new_data2['nodes'].push(temp_node_dir);
          add_directory_to_view2(temp[k]['value']);

          console.log('Directory');
          temp_edge_dir3 = {'from': lev, 'to':temp[k]['value']}
          new_data2['edges'].push(temp_edge_dir3);   

        }else if (temp[k]['type'] == 'file'){

        var res = temp[k]['value'].split(".");

        var king = res[res.length-1];

            if (king=='py'){

              cur_sup_files2.push(temp[k]['value']);
              
              temp_node_dir4 = {id: temp[k]['value'], normal: {
                                fill: '#2ECC71',
                                height: 20
                            }, hovered: {
                                fill: '#2ECC71',
                                height: 30
                            }, selected: {
                                fill: '#2ECC71',
                                height: 40
                            }, shape: "diamond"}

                new_data2['nodes'].push(temp_node_dir4);

                console.log('File');
                temp_edge_dir2 = {'from': lev, 'to':temp[k]['value']}
                new_data2['edges'].push(temp_edge_dir2);
            }else{
              temp_node_dir4 = {id: temp[k]['value'], normal: {
                          fill: '#2ECC71',
                            height: 10
                        }, hovered: {
                            fill: '#2ECC71',
                            height: 15
                        }, selected: {
                            fill: '#2ECC71',
                            height: 20
                        }, shape: "square"} 

                new_data2['nodes'].push(temp_node_dir4);

                console.log('File');
                temp_edge_dir2 = {'from': lev, 'to':temp[k]['value']}
                new_data2['edges'].push(temp_edge_dir2);
            }
                    
            
        }







    

  }

  // return new_data;

    var chart = anychart.graph(new_data2);
  // set the container id
    chart.container(cont);
    chart.layout().iterationCount(1000);
    // chart.nodes().labels().enabled(true);
    // chart.nodes().labels().fontSize(10);
    // chart.nodes().labels().fontWeight(300);
    // initiate drawing the chart
    chart.draw();
    chart.title("root : " + lev);



    if(yes_no != "no"){
      if (curr2 != lev){
        stack2.push(lev);
      }
      
    }

    curr2 = lev;

    // console.log(stack2);

}


// THE END of First View


</script>



</html>